{% extends 'base.html.twig' %}

{% block title %}PaintLab | Actualites{% endblock %}

{% block body %}
{% include 'home/welcome.html.twig' %} 
<div class="site-section bg-light">
  <div class="container">
    <div class="row">

    {% for blogpost in blogposts %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="post-entry-1 h-100">
          <a href="single.html">
            <img src={{blogpost.contenu}} alt="Image" class="img-fluid">
          </a>
          <div class="post-entry-1-contents">
            <h2><a href="single.html"> {{blogpost.titre}} </a></h2>
              <span class="mx-2">Slug : <a href="">{{blogpost.slug}} </a></span>
              <span class="meta d-inline-block mb-3"></span>
              <p>Date de Realisation : {{blogpost.getDate.format('d/m/Y')}}</p>
              <p>{{blogpost.contenu}}</p>
          </div>
        </div>
      </div>
      
    {% endfor %}
      <div class="col-12 mt-5 text-center">
        {% do blogposts.setPageRange(5) %}
        {{knp_pagination_render(blogposts, 'base/pagination.html.twig')}}
      </div>
            {# <div class="col-12 mt-5 text-center">
              <span class="p-3">1</span>
              <a href="#" class="p-3">2</a>
              <a href="#" class="p-3">3</a>
              <a href="#" class="p-3">4</a>
            </div> #}
    
    </div>  
  </div>
</div>
{% include 'base/footer.html.twig' %}
{% endblock %}

